<div class="dashboard-card-content">
    <div class="card">
        <div class="card-header">
            <h3>LISTA DE PACIENTES PARA CONSULTA PREVENTIVA</h3>
        </div>

        <div class="card-body">

            <mat-form-field class="mat-elevation-z3">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort class="table table-bordered mat-elevation-z8">

                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </th>
                    <td mat-cell *matCellDef="let paciente"> {{paciente.codigo}} </td>
                </ng-container>
                <ng-container matColumnDef="cedula">
                    <th mat-header-cell *matHeaderCellDef> CEDULA </th>
                    <td mat-cell *matCellDef="let paciente"> {{paciente.cedula}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                    <td mat-cell *matCellDef="let paciente"> {{paciente.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef> APELLIDO </th>
                    <td mat-cell *matCellDef="let paciente"> {{paciente.apellido}} </td>
                </ng-container>

                <ng-container matColumnDef="edad">
                    <th mat-header-cell *matHeaderCellDef> EDAD </th>
                    <td mat-cell *matCellDef="let paciente"> {{paciente.edad}} </td>
                </ng-container>

                <ng-container matColumnDef="sexo">
                    <th mat-header-cell *matHeaderCellDef> SEXO </th>
                    <td mat-cell *matCellDef="let paciente"> {{paciente.sexo}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoSangre">
                    <th mat-header-cell *matHeaderCellDef> TIPO SANGRE </th>
                    <td mat-cell *matCellDef="let paciente"> {{paciente.tipoSangre}} </td>
                </ng-container>

                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef> TELEFONO </th>
                    <td mat-cell *matCellDef="let paciente"> {{paciente.telefono}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
                    <td mat-cell *matCellDef="let paciente">
                        <a class="pointer" (click)="getCodigoPacienteVerEMI(paciente)" style="color: #2f00ff"
                            matTooltip="Ver Consulta Preventiva">
                            <mat-icon>search</mat-icon> &nbsp;
                        </a>
                        <a class="pointer" (click)="getCodigoPacienteParaAddExamenMedicoInicial(paciente)"
                            style="color: #00a2ff" matTooltip="Agregar Consulta Preventiva">
                            <mat-icon>&nbsp;fiber_new</mat-icon>
                        </a>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 35, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>