.pointer{
    cursor: pointer;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

table {
    width: 100%;
}
th.mat-header-cell {
    text-align: center;
    max-width: auto;
}
td.mat-cell {
    text-align: center;
    max-width: auto;
}

button {
    margin-right: 1%;
}