<div class="dashboard-card-content">
    <div id="pdfTable" #pdfTable class="card border-info" style="width: 100%;">

        <div class="card-header alert alert-info clearfix" role="banner" aria-label="Información del paciente"
            style="border: solid 1px;">
            <h2 style="text-align: center;">{{titulo}}</h2>
            <form>
                <mat-grid-list cols="6" rowHeight="3:1.5">
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="pacientecm">PACIENTE:</label>
                            <input size="80" name="pacientecm" id="pacientecm" value={{ceduNombApellPaciente}}
                                type="text" class="form-control border border-dark" readonly>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="cargoPaciente">Cargo Paciente:</label>
                            <input id="cargoPaciente" name="cargoPaciente" value={{cargito}} type="text"
                                class="form-control border border-dark" readonly>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="causaSalida">Causa de salida:</label>
                            <input id="causaSalida" size="20" name="causaSalida"
                                [(ngModel)]="consultaReintegro.causaSalida" type="text"
                                class="form-control border border-dark">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="fechaUltimoDiaLaboral">Fecha Última Día Laboral:</label>
                            <input style="width: 60%;" [(ngModel)]="consultaReintegro.fechaUltimoDiaLaboral"
                                name="fechaUltimoDiaLaboral" id="fechaUltimoDiaLaboral" type="text"
                                class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="fechaReingreso">&nbsp;&nbsp;&nbsp;Fecha de Reingreso:&nbsp;&nbsp;&nbsp;</label>
                            <input style="width: 60%;" [(ngModel)]="consultaReintegro.fechaReingreso"
                                name="fechaReingreso" id="fechaReingreso" type="text" class="form-control-lg">

                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="totalDias">Tiempo:</label>
                            <input style="width: 50%;" [(ngModel)]="consultaReintegro.totalDias" name="totalDias"
                                id="totalDias" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </div>

        <div tabindex="0" class="card-body" border-danger role="form" aria-label="CONSULTA REINTEGRO">
            <form>

                <div id="motivConsul" style="text-align: left;" class="p-2 mt-3 colosito text-white estiloLetra">
                    A. MOTIVO DE CONSULTA / CONDICIÓN DE REINTEGRO
                </div>

                <mat-grid-list cols="7" rowHeight="2.5:1.5" tabindex="0" role="form" aria-labelledby="motivConsul"
                    class="mat-elevation-z3 border border-secondary">
                    <mat-grid-tile style="margin-bottom: 5%;" [colspan]="7" [rowspan]="1">
                        <div class="form-group">
                            <label id="motivoConsulta">DESCRIPCIÓN:</label>
                        </div>
                        <div class="form-group">
                            <textarea id="motivoConsulta" class="border border-dark txtArea"
                                [(ngModel)]="consultaReintegro.motivoConsulta" name="motivoConsulta" rows="3" cols="100"
                                placeholder="Descripción.."></textarea>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>


                <div id="enfermedadActu" style="text-align: left;" class="p-2 mt-3 colosito text-white estiloLetra">
                    B. ENFERMEDAD ACTUAL
                </div>

                <mat-grid-list cols="7" rowHeight="2.5:1.5" tabindex="0" role="form" aria-labelledby="enfermedadActu"
                    class="mat-elevation-z3 border border-secondary">
                    <mat-grid-tile style="margin-bottom: 5%;" [colspan]="7" [rowspan]="1">
                        <div class="form-group">
                            <label id="enfermedadActual">DESCRIPCIÓN:</label>
                        </div>
                        <div class="form-group">
                            <textarea id="enfermedadActual" class="border border-dark txtArea"
                                [(ngModel)]="consultaReintegro.enfermedadActual" name="enfermedadActual" rows="3"
                                cols="100" placeholder="Descripción.."></textarea>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <div id="constantesVA" style="text-align: left;" class="p-2 mt-3 colosito text-white estiloLetra">
                    C. CONSTANTES VITALES Y ANTROPOMETRÍA</div>

                <mat-grid-list cols="5" rowHeight="3:1.2" tabindex="0" role="form" aria-labelledby="constantesVA"
                    class="mat-elevation-z3 border border-primary">
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="estadoNutpresionArterialricionalcp">&nbsp;&nbsp;&nbsp;&nbsp;PRESIÓN
                                ARTERIAL:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input style="width: 40%;" [(ngModel)]="consultaReintegro.presionArterial"
                                name="presionArterial" id="estadoNutpresionArterialricionalcp" type="text"
                                class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="temperatura">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                TEMPERATURA:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
                            <input style="width: 40%;" [(ngModel)]="consultaReintegro.temperatura" name="temperatura"
                                id="temperatura" type="number" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="pulso">FRECUENCIA CARDIACA:</label>
                            <input style="width: 40%;" [(ngModel)]="consultaReintegro.pulso" name="pulso" id="pulso"
                                type="number" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="saturacionOxigeno">SATURACIÓN OXÍGENO:</label>
                            <input style="width: 40%;" [(ngModel)]="consultaReintegro.saturacionDeOxigeno"
                                name="saturacionOxigeno" id="saturacionOxigeno" type="number" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="respiracion">FRECUENCIA RESPIRATORIA:</label>
                            <input style="width: 40%;" [(ngModel)]="consultaReintegro.respiracion" name="respiracion"
                                id="respiracion" type="number" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="peso">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                PESO (kg )
                                :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input style="width: 40%;" [(ngModel)]="consultaReintegro.peso" name="peso" id="peso"
                                type="number" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="talla">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TALLA
                                ( cm ) :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input style="width: 40%;" [(ngModel)]="consultaReintegro.talla" name="talla" id="talla"
                                type="number" (keydown.Tab)="calculoIndiceMasaCorporal()" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class=" form-group">
                            <label for="masaCorporal">&nbsp;&nbsp;&nbsp;MASA
                                CORPORAL:&nbsp;&nbsp;&nbsp;</label>
                            <input style="width: 40%;" [(ngModel)]="consultaReintegro.masaCorporal" name="masaCorporal"
                                id="masaCorporal" type="number" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="estadoNutricional">ESTADO NUTRICIONAL:</label>
                            <input style="width: 60%;" [(ngModel)]="consultaReintegro.estadoNutricional"
                                name="estadoNutricional" id="estadoNutricional" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <div id="examenFR" style="text-align: left;" class="p-2 mt-3 colosito text-white estiloLetra">
                    D. EXAMEN
                    FÍSICO
                    REGIONAL</div>

                <mat-grid-list cols="8" rowHeight="3:1.5" tabindex="0" role="form" aria-labelledby="examenFR"
                    class="mat-elevation-z3 border border-secondary">
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="cicatrices">Cicatrices:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.cicatrices" name="cicatrices"
                                id="cicatrices" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="tatuajes">Tatuajes:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.tatuajes" name="tatuajes" id="tatuajes"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="oido">Oido:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.oido" name="oido" id="oido" type="text"
                                class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="piel">Piel:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.piel" name="piel" id="piel" type="text"
                                class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="parpados">Párpados:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.parpados" name="parpados" id="parpados"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="conjuntivas">Conjuntivas:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.conjuntivas" name="conjuntivas"
                                id="conjuntivas" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="pupilas">Pupilas:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.pupilas" name="pupilas" id="pupilas"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="visceras">Visceras:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.visceras" name="visceras" id="visceras"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="cornea">Córnea:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.cornea" name="cornea" id="cornea"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="motilidad">Motilidad:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.motilidad" name="motilidad"
                                id="motilidad" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="auditivoExterno">Auditivo:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.auditivoExterno" name="auditivoExterno"
                                id="auditivoExterno" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="labios">Labios:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.labios" name="labios" id="labios"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="timpanos">Tímpanos:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.timpanos" name="timpanos" id="timpanos"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="pabellon">Pabellón:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.pabellon" name="pabellon" id="pabellon"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="lengua">Lengua:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.lengua" name="lengua" id="lengua"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="faringe">Faringe:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.faringe" name="faringe" id="faringe"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="amigdalas">Amígdalas:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.amigdalas" name="amigdalas"
                                id="amigdalas" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="dentadura">Dentadura:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.dentadura" name="dentadura"
                                id="dentadura" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="tabique">Tabique:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.tabique" name="tabique" id="tabique"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="cornetes">Cornetes:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.cornetes" name="cornetes" id="cornetes"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="mucosas">Mucosas:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.mucosas" name="mucosas" id="mucosas"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="tiroides">Tiroides:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.tiroides" name="tiroides" id="tiroides"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="movilidad">Movilidad:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.movilidad" name="movilidad"
                                id="movilidad" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="mamas">Mamas:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.mamas" name="mamas" id="mamas"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="corazon">Corazón:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.corazon" name="corazon" id="corazon"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="pulmones">Pulmones:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.pulmones" name="pulmones" id="pulmones"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="flexibilidad">Flexibilidad:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.flexibilidad" name="flexibilidad"
                                id="flexibilidad" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="desviacion">Desviación:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.desviacion" name="desviacion"
                                id="desviacion" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="dolor">Dolor:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.dolor" name="dolor" id="dolor"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="pelvis">Pelvis:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.pelvis" name="pelvis" id="pelvis"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="genitales">Genitales:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.genitales" name="genitales"
                                id="genitales" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="vascular">Vascular:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.vascular" name="vascular" id="vascular"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="fuerza">Fuerza:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.fuerza" name="fuerza" id="fuerza"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="sensibilidad">Sensibilidad:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.sensibilidad" name="sensibilidad"
                                id="sensibilidad" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="marcha">Marcha:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.marcha" name="marcha" id="marcha"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="mb-1">
                            <label for="reflejos">Reflejos:</label>
                            <input style="width: 30%;" [(ngModel)]="examenFisico.reflejos" name="reflejos" id="reflejos"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="8" [rowspan]="1">
                        <div class="form-group">
                            <label for="observacionexamfisico">DESCRIPCIÓN:</label>
                        </div>
                        <div class="form-group">
                            <textarea id="observacionexamfisico" class="border border-dark txtArea"
                                [(ngModel)]="examenFisico.observaciones" name="observacionexamfisico" rows="3" cols="60"
                                placeholder="Descripción.."></textarea>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <div id="resultadoExamenesGE" style="text-align: left;"
                    class="p-2 mt-3 colosito text-white estiloLetra">
                    E. RESULTADOS
                    DE EXAMENES GENERALES Y ESPECIFICOS</div>

                <mat-grid-list cols="4" rowHeight="3:1" tabindex="0" role="form" aria-labelledby="resultadoExamenesGE"
                    class="mat-elevation-z3 border border-primary">
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="nombreExamen">Examen:</label>
                            <input [(ngModel)]="examenGeneral.nombreExamen" name="nombreExamen" id="nombreExamen"
                                type="text" class="form-control border border-dark">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="fechaeg">Fecha:</label>
                            <input [(ngModel)]="examenGeneral.fecha" name="fechaeg" id="fechaeg" type="text"
                                class="form-control border border-dark">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="resultadoeg">Resultado Examenes:</label>
                            <textarea id="resultadoeg" class="txtArea" [(ngModel)]="examenGeneral.resultado"
                                name="resultadoeg" rows="2" cols="50" placeholder="Descripción.."
                                class="form-control border border-dark"></textarea>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button (click)="addExamenGeneral()" mat-button mat-raised-button color="primary">
                            AGREGAR RESUL. EXAMEN
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="2">
                        <div tabindex="0" role="table" aria-rowcount="2" aria-label="Lista de Examenes AGREGADOS"
                            class="container">
                            <div id="table" class="overflow-auto">
                                <table role="table"
                                    class="table table-hover table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="text-center">EXAMEN</th>
                                            <th class="text-center">FECHA</th>
                                            <th class="text-center">RESULTADO DE EXAMEN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let examenGeneral of examenGeneralAdd" class="text-center">
                                            <td>{{examenGeneral.nombreExamen}}</td>
                                            <td>{{examenGeneral.fecha}}</td>
                                            <td>{{examenGeneral.resultado}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <div id="diagnosticoPQ" style="text-align: left;" class="p-2 mt-3 colosito text-white estiloLetra">
                    Q. DIAGNÓSTICO
                </div>

                <mat-grid-list cols="5" rowHeight="3:1.2" tabindex="0" role="form" aria-labelledby="diagnosticoPQ"
                    class="mat-elevation-z3 border border-secondary">
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="nombrediag">Nombre:</label>
                            <input style="width: 70%;" [(ngModel)]="diagnostico.nombre" name="nombrediag"
                                id="nombrediag" type="text" class="form-control-lg"
                                ngbTooltip="ENTER Buscar Diagnostico" placement="top"
                                (keydown.enter)="openDialogDiagnostico()">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="codigodiag">CIE 10:</label>
                            <input style="width: 40%;" [(ngModel)]="diagnostico.codigo" name="codigodiag"
                                id="codigodiag" type="text" class="form-control-lg"
                                ngbTooltip="ENTER Buscar Diagnostico" placement="top"
                                (keydown.enter)="openDialogDiagnostico()">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="prediag">PRE:</label>
                            <input style="width: 30%;" [(ngModel)]="consultaReintegro.presuntivo" name="prediag"
                                id="prediag" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="defdiag">DEF:</label>
                            <input style="width: 30%;" [(ngModel)]="consultaReintegro.definitivo" name="defdiag"
                                id="defdiag" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button (click)="openDialogInsertDiagnostico()" mat-button mat-raised-button color="primary">
                            CREAR DIAGNÓSTICO
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="5" [rowspan]="1">
                        <div class="form-group">
                            <label for="datosdiag">DATOS DIAGNÓSTICO:</label>
                        </div>
                        <div class="form-group">
                            <textarea style="text-align: center;" id="datosdiag" class="border border-dark txtArea"
                                [(ngModel)]="consultaReintegro.diagnosticoCie" name="datosdiag" rows="3" cols="50"
                                placeholder="Descripción.."></textarea>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>


                <div id="aptitudMedicaPT" style="text-align: left;" class="p-2 mt-3 colosito text-white estiloLetra">
                    R. APTITUD
                    MÉDICA PARA EL TRABAJO</div>

                <mat-grid-list cols="4" rowHeight="3:1" tabindex="0" role="form" aria-labelledby="aptitudMedicaPT"
                    class="mat-elevation-z3 border border-primary">
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="apto">APTO:</label>
                            <input style="width: 30%;" [(ngModel)]="consultaReintegro.apto" name="apto" id="apto"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="aptoObservacion">APTO EN OBSERVACIÓN:</label>
                            <input style="width: 30%;" [(ngModel)]="consultaReintegro.aptoObservacion"
                                name="aptoObservacion" id="aptoObservacion" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="aptoLimitacion">APTO CON LIMITACIONES:</label>
                            <input style="width: 30%;" [(ngModel)]="consultaReintegro.aptoLimitacion"
                                name="aptoLimitacion" id="aptoLimitacion" type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="noApto">NO APTO:</label>
                            <input style="width: 30%;" [(ngModel)]="consultaReintegro.noApto" name="noApto" id="noApto"
                                type="text" class="form-control-lg">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <div class="form-group">
                            <label for="observacionAptitudReintegro">OBSERVACIÓN:</label>
                        </div>
                        <div class="form-group">
                            <textarea id="observacionAptitudReintegro" class="border border-dark txtArea"
                                [(ngModel)]="consultaReintegro.observacionAptitudReintegro"
                                name="observacionAptitudReintegro" rows="3" cols="50"
                                placeholder="Descripción.."></textarea>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <div class="form-group">
                            <label for="limitacionAptitudReintegro">LIMITACIÓN:</label>
                        </div>
                        <div class="form-group">
                            <textarea id="limitacionAptitudReintegro" class="border border-dark txtArea"
                                [(ngModel)]="consultaReintegro.limitacionAptitudReintegro"
                                name="limitacionAptitudReintegro" rows="3" cols="50"
                                placeholder="Descripción.."></textarea>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <div class="form-group">
                            <label for="reubicacionAptitudReintegro">REUBICACIÓN:</label>
                        </div>
                        <div class="form-group">
                            <textarea id="reubicacionAptitudReintegro" class="border border-dark txtArea"
                                [(ngModel)]="consultaReintegro.reubicacionAptitudReintegro"
                                name="reubicacionAptitudReintegro" rows="3" cols="50"
                                placeholder="Descripción.."></textarea>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>


                <div id="recomenTratamien" style="text-align: left;" class="p-2 mt-3 colosito text-white estiloLetra">
                    S. RECOMENDACIONES O TRATAMIENTO</div>

                <mat-grid-list cols="4" rowHeight="2:1" tabindex="0" role="form" aria-labelledby="recomenTratamien"
                    class="mat-elevation-z3 border border-secondary">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="form-group">
                            <label for="tratamiento">TRATAMIENTO:</label>
                        </div>
                        <div class="form-group">
                            <textarea id="tratamiento" class="border border-dark txtArea"
                                [(ngModel)]="consultaReintegro.tratamiento" name="tratamiento" rows="3" cols="60"
                                placeholder="Descripción.."></textarea>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </div>

        <ng-template #myModalInsertDiagnostico let-c="close" let-d="dismiss">

            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>

            <h3 style="text-align: center;" mat-dialog-title>INSERTAR DIAGNOSTICO!</h3>

            <div mat-dialog-content>

                <div style="text-align: left;" class="p-2 mt-3 colosito text-white estiloLetra">DIANÓSTICO
                </div>

                <mat-grid-list cols="2" rowHeight="3:1" class="mat-elevation-z3 border border-primary">
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="nombrediag">Nombre:</label>
                            <input [(ngModel)]="diagnostico.nombre" name="nombrediag" id="nombrediag" type="text"
                                class="form-control-lg" ngbTooltip="ENTER Buscar Diagnostico" placement="top"
                                (keydown.enter)="openDialogDiagnostico()">
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="form-group">
                            <label for="codigodiag">CIE 10:</label>
                            <input style="width: 40%;" [(ngModel)]="diagnostico.codigo" name="codigodiag"
                                id="codigodiag" type="text" class="mayuscula form-control-lg">
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <div mat-dialog-actions align="end">
                <button mat-button mat-raised-button color="primary" mat-dialog-close>GUARDAR</button>
            </div>

        </ng-template>

        <ng-template #myModalDiagnostico let-c="close" let-d="dismiss">

            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="primary">close</mat-icon>
            </button>

            <h1 class="info-dialog-diagnostico-sindrome" mat-dialog-title>¡DIAGNOSTICO!</h1>

            <div mat-dialog-content aria-modal="true" role="dialog" id="mat-dialog-3"
                aria-labelledby="mat-dialog-title-3">

                <table mat-table style="width: 100%; border: solid 3px;" [dataSource]="dataSourceDiag" matSort
                    class="mat-elevation-z8 demo-table">

                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef> CODIGO </th>
                        <td mat-cell *matCellDef="let diagnostico"> {{diagnostico.codigo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                        <td mat-cell *matCellDef="let diagnostico"> {{diagnostico.nombre}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDiag"></tr>
                    <tr mat-row (click)="selectDiaganosticoDialog(row)"
                        [class.demo-row-is-clicked]="diagnosticoSelect.has(row)"
                        *matRowDef="let row; columns: displayedColumnsDiag;">
                    </tr>
                </table>

                <div class="info-dialog-diagnostico-sindrome" *ngIf="!diagnosticoSelect.size">
                    <h2>
                        NO tiene ningun Diagnostico seleccionado..!
                    </h2>
                </div>

                <ul style="margin-top: 3%;">
                    <li *ngFor="let diagnostico of diagnosticoSelect" class="text-center">
                        <h3> Diagnostico seleccionado </h3>
                        <h2> {{diagnostico.nombre}} </h2>
                    </li>
                </ul>

            </div>

            <div mat-dialog-actions align="end">
                <button mat-button mat-raised-button color="primary" mat-dialog-close>OK</button>
            </div>

        </ng-template>



        <div class="card-footer bg-transparent border-success" role="contentinfo" style="margin-bottom: 1%;">
            <div mat-dialog-actions align="center">
                <button style="margin-right: 5%;" mat-button mat-raised-button color="primary"
                    (click)="btnCancelar()">VOLVER ATRÁS</button>
                <button (click)="guardarconsultaReintegro()" mat-button mat-raised-button color="primary">GUARDAR
                    CONSULTA RETIRO</button>
            </div>
        </div>


    </div>
</div>